/* Variables */
:root {
  --text-main-color: #111;
  --text-modal-color: #555;
  --main-color: #0398ba;
  --main-modal-color: #00516330;
  --main-dark-color: #6d8893;
  --second-main-color: #e3eaee;
  --second-modal-color: #bbc8d0;
}

/* Global configuration */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

.line {
  height: 1vh;
  width: 5vw;
  border-bottom: 0.5rem solid var(--main-color);
}

/* Nav bar */
header {
  width: 100%;
  height: 10vh;
  background: linear-gradient(#0297b915 1%, white 99%);
}

header h2 {
  margin: 0.5rem 1rem;
}

header h2 img {
  height: 3.5vh;
}

#main-nav {
  position: relative;
  justify-content: flex-start;
  float: right;
  height: auto;
}

#main-nav ul li {
  position: relative;
  display: inline;
  padding: 0.5rem 1rem;
}

#main-nav a {
  text-decoration: none;
  color: black;
}

#main-nav ul li:hover a {
  font-weight: bold;
}

#main-nav > a {
  position: absolute;
  left: 120px;
  display: none;
}

#main-nav .a-to-show {
  padding: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  width: 100px;
  font-weight: bold;
  box-shadow: 0px 0px 4px #777;
}

#main-nav ul li:last-of-type {
  position: relative;
  top: 0;
  right: 0;
  border: 1px solid var(--main-color);
  width: 150px;
  border-radius: 1rem 0 0 1rem;
  border-right: transparent;
  font-weight: bold;
}

#main-nav ul li:last-of-type a {
  color: var(--main-color);
}

#main-nav ul li:last-of-type:hover {
  background-color: var(--main-color);
}

#main-nav ul li:last-of-type:hover a {
  color: white;
}

/* Sections */

.section {
  height: 95vh;
}

/* Section 1 */

.section1 {
  justify-content: space-around;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.section1 > * {
  margin: 0.5rem 0;
}

.section1 h2 {
  font-weight: normal;
}

.section1 p {
  text-align: center;
  letter-spacing: 0.05rem;
}

.section1 button {
  width: auto;
  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
  color: white;
  background-color: var(--main-color);
  border: none;
  font-weight: bold;
  font-family: "open sans";
}
.section1 img {
  position: relative;
  height: 35vh;
}

/* Section 2 */

.section2 {
  background-color: var(--main-modal-color);
  justify-content: flex-start;
  padding: 1rem 0;
}

.section2 > * {
  margin: 0.1rem 0;
}

.section2 .teams {
  margin: 2rem 0;
  width: 100%;
}

.section2 .btns {
  width: 80%;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.section2 .btns button {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
}

.section2 .cards {
  width: 90%;
  height: 60vh;
}

.section2 .card {
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 1rem;
  height: 100%;
  width: 20%;
  padding: 0 1rem;
}

.section2 .card > * {
  margin: 0.5rem;
}

.section2 .card img {
  height: 3rem;
}

.section2 .card p {
  height: 60%;
  line-height: 1.5rem;
}

.section2 .teamB {
  visibility: hidden;
}

/* section 3 */

.section3 {
  justify-content: center;
}

.section3 .squares {
  justify-content: flex-start;
  align-items: center;
}

.section3 .hero-square {
  position: relative;
  height: 40vh;
  width: 30vw;
  border: 1px solid #222;
  background: no-repeat center center;
  background-size: cover;
}

.section .hero-square::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  transition: background 0.3s ease;
  z-index: 1;
}

.section .hero-square:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.section3 .hero-square .white {
  display: none;
}

.section3 .hero-square:hover .white {
  display: block;
}

.section3 .hero-square:hover .dark {
  display: none;
}

.section3 .hero-square img,
p {
  z-index: 10;
}

/* section 4 */

.section4 {
  background-color: var(--second-main-color);
}

.section4 .email {
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  box-shadow: 0px 0px 3px #333;
  background-color: #fff;
  padding: 1rem 0;
}

.section4 .text {
  align-items: flex-start;
  height: 80%;
  width: 40%;
}

.section4 .text p {
  line-height: 1.4rem;
}

.section4 .media-content {
  height: 80%;
  position: relative;
  width: 50%;
}

.section4 .media-content img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 200px;
  box-shadow: 0px 0px 6px #333;
  border-radius: 0.5rem;
  z-index: 1;
}

.section4 .media-content img:last-of-type {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 250px;
  z-index: 5;
  box-shadow: 0px 0px 6px #333;
  border-radius: 0.5rem;
}

.section4 .media-content p {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 10%;
  background-color: #fff;
  width: 50%;
  padding: 0.2rem 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px #333;
  z-index: 10;
}

/* section 5 */

.section5 {
  background-color: var(--second-modal-color);
}

.section5 #contact-form {
  height: 80%;
  width: 80%;
}

.section5 .left {
  float: left;
  width: 50%;
}

.section5 .right {
  float: right;
  width: 50%;
}

#contact-form label {
  margin-left: 20px;
  width: 50%;
  display: inline-block;
}

#contact-form input,
textarea {
  margin: 1rem 0 0.5rem 0;
  width: 80%;
  height: 35px;
  border-radius: 1rem;
  border: none;
  padding: 0 1.5rem;
}

#contact-form input {
  background-color: #fff;
}

.section5 textarea {
  height: 120px;
  padding: 1rem 2rem;
  width: 100%;
  resize: none;
}

#contact-form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  width: 20%;
  margin: 1rem 40%;
}

.section6 {
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

#questions {
  height: 80%;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

#questions > .left,
#questions > .right {
  justify-content: flex-start;
  height: 100%;
  width: 45%;
}

#questions .question {
  box-shadow: 0px 0px 3px #777;
  border-radius: 1rem;
  margin: 1rem 0.5rem;
}

.faq > p {
  margin: 1rem auto;
}

.question .circle {
  background-color: var(--main-color);
  font-size: 1.8rem;
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

.question h3 {
  width: 80%;
  padding: 1rem 0;
}

.question p {
  display: none;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1rem;
  height: 1px;
}

.question.active p {
  display: block;
  height: 100%;
}

/* data  */
.data {
  background-color: var(--second-modal-color);
  color: white;
  justify-content: space-around;
}

.data .data-column:first-child {
  width: 50%;
  height: 50vh;
}

.data-column .info,
nav,
.data-tools {
  height: 40vh;
}

.data-column nav {
  align-items: flex-start;
  justify-content: flex-start;
}

.data-column nav a {
  text-decoration: none;
  color: white;
  margin: 0.5rem 1rem;
}

.data hr {
  position: absolute;
  right: 30%;
  width: 40vh;
  transform: rotate(90deg);
  border: 1px solid white;
}

.data .data-column:last-child {
  width: 30%;
  height: 40vh;
  align-items: flex-start;
}

.data-column:last-child p:last-of-type,
input {
  height: 30px;
  background-color: var(--main-color);
  border-radius: 1rem;
}

.data-column:last-child p:last-of-type {
  width: 60%;
  padding: 0.5rem 1rem;
  line-height: 15px;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.data-column:last-child input {
  background-color: #fff;
  border: 1px solid var(--main-color);
  padding: 0.5rem;
}

/* Footer */
footer {
  background-color: var(--main-dark-color);
  color: white;
  height: 10vh;
}

footer span {
  font-size: 0.8rem;
}
